
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>ERROR</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    <div class="  center card text-center">    
        <p>You shouldn't be here </p>
        </div>

    </body>
    
    <footer>
 <div class="card-footer text-muted  card text-center">
    Taller Automotriz <br> Tecnimecanica Hermanos <br> COPYRIGHT © 2021. TODOS LOS DERECHOS RESERVADOS  
  </div>
 </footer>
</html>