body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ffffff important;
}
.card{
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-top: 15%;
}
.imagesEdi {
    height: 20px;
    width: 20px;
	outline:none;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
   
}


.butonEdit {
	outline:none;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
   
}
.card-body a{
	height: 50%;
    width:50%;
    background: #00334e !important;
    color: white !important;
}
/*.datagrid table {
	border-collapse: collapse; 
	text-align: left; 
	width: 100%; 
} */
.datagrid {
	height:40%;
    width:100%;
	overflow-y: scroll;
}
/*
.datagrid table td, .datagrid table th {
	padding: 3px 10px; 
}
.datagrid table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
	background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
	background-color:#00334e; 
	color:#FFFFFF; 
	font-size: 15px; 
	font-weight: bold; 
	border-left: 1px solid #00334e; 
} 
.datagrid table thead th:first-child { 
	border: none;
}
.datagrid table tbody td {
	color: #00334e;
	border-left: 1px solid #E1EEF4;
	font-size: 12px;
	font-weight: normal;
}
.datagrid table tbody .alt td {
	background: #E1EEf4; color: #00557F; 
}
.datagrid table tbody td:first-child {
	border-left: none; 
}
.datagrid table tbody tr:last-child td { 
	border-bottom: none; 
}
*/

.center{
	margin-left:20%;
	margin-top:-45%;
	width:70%;
	height:70%; 
	align-content: right;
}
.content-table{
	border-collapse: collapse;
	font-size: 0.9em;
	min-width: 300px;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.content-table thead tr{
	background-color: #0094C9;
	color: #FFFFFF;
	text-align: left;
	font-weight: bold;
}
.content-table th,.content-table td{
	padding: 12px 15px;
}
.content-table tbody tr {
	border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
	border-bottom: 2px solid #0094C9;
}
/*.content-table tbody tr.active-row{
	font-weight: bold;
	color: #009879;

}*/

* {
	margin: 0;
	padding: 0;
}