
html, body{
  display: flex;
  flex-direction: column;
  height:100%;
  margin :0;
}
.center-1{
  margin-left: 25%;
  margin-top:-40%;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.center-2{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.center-3{
  margin-left:-3%;
  margin-top:0%;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.text-center{
	margin-left: 25%;
	margin-right: 10%;
}

.btn-group{
	margin-left: 1%;
	margin-right: 1%;
}

.flexbox {
  

}
* {
	margin: 0;
	padding: 0;
}


